<%- include('./shared/header.ejs', { title : "Bienvenue sur mon blog"}) %> 


<% if ( locals.title) { %> 
    <h1> <%= title %>  </h1>
<% } %> 

<div class="container">

    <% if ( true || locals.user) { %> 

    <form action="" method="post">

        <div class="mb-2">
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" class="form-control">
        </div>

        <div class="mb-2">
            <label for="content">contenu</label>
            <textarea name="content" id="content" class="form-control"></textarea>
        </div >

        <button class="btn btn-primary">Ajouter l'article</button>

    </form>

    <% } %> 

    <h1 class="my-4">Bienvenue sur mon blog</h1>
    <div class="row row-cols-2">
        <% for( const post of posts) { %>
            <div class="col mb-2">
                <%- include('./shared/post.ejs', {post}) %>
            </div>
        <% } %>
    </div>
</div>


<%- include('./shared/footer.ejs') %> 